@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(https://tse4.mm.bing.net/th?id=OIP.L0AONX4m2yLr3z-MeLtDIQHaEo&pid=Api&P=0);
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
    height: 85px;
    line-height: 75px;
    padding: 0px 50px;
    position: fixed;
    background-image: linear-gradient(#491803, #130602);
}

nav .logo_name h3 {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav .logo_name h3 span {
    font-size: 30px;
    font-weight: bold;

    color: rgb(168, 151, 132);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul {
    float: right;
    letter-spacing: 1px;
}

nav ul li {
    display: inline-block;
    list-style: none;

}

nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #dbcec8;
    transition: all o.8s ease-in-out;
    cursor: pointer;

}

.body_content {
    width: 100%;
    height: auto;
    margin: auto;
    color: rgb(211, 199, 182);

    padding-top: 450px;

}



.body_content p {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    ;
    letter-spacing: 4px;
    padding-top: 100px;
    text-align: center;
    font-style: italic;
}

.body_content h4 {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    letter-spacing: 1.5px;
    text-align: right;
}


.descrip-aboutus{
    text-align: center;
}
.name-about > h2{
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: rgb(60, 37, 14);
    background-color: rgb(183, 173, 160);
    margin: 4px;
    align-items: center;

}

.con h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #381e03;
    }
    
    
    .con p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        color: #592a0d;
        }


        .body-content{
            padding: 35px;
        }

        .body-content h2{
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            color: rgb(139, 65, 0);
            text-align: center;
        }

    .body-content {
        font-size: 20px;
        color: #391c0c;
        letter-spacing: 1px;
        text-align: justify;
        padding-top: 5px;
    }


    .footer {
        padding: 40px 0;
        background-image: linear-gradient(#491803, #130602);
        text-align: center;
        font-size: 400;
    }
    
    .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: rgb(68, 41, 6);
    }
    
    .footer .social img {
        font-size: 24px;
        color: inherit;
        border: 1px solid #ccc;
        width: 30px;
        height: 30px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
        background-size: cover;
    }
    
    .footer .social img:hover {
        transition: all o.8s ease-in-out;
        opacity: 0.9;
        box-shadow: 0px 5px 5px 0px rgba(10, 10, 10, 0.5);
    }
    
    .footer ul {
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    
    .footer ul a {
        color: inherit;
    opacity: 0.8;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: #958c88;
        
    }
    
    .footer ul li {
        display: inline-block;
        padding: 0 15px;
    }
    
    .footer ul a:hover {
        opacity: 1;
        color: rgb(221, 214, 214);
        text-decoration: underline;
    }
    
    
    .footer .copyright {
        margin-top: 18px;
        text-align: center;
        font-size: 16px;
        color: rgb(106, 106, 106);
    }